# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# Meta WhatsApp Cloud API
WHATSAPP_API_VERSION=
WHATSAPP_APP_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=
